<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mszl.blog.mapper.TagMapper">

    <sql id="all">
        id,avatar,tag_name as tagName
    </sql>
<select id="findTagsByArticleId" resultType="com.mszl.blog.pojo.Tag">
    select <include refid="all" />  from ms_tag
    <where>
        id in
        (select tag_id from ms_article_tag where article_id = #{articleId})
    </where>
</select>

    <select id="findHotsTagsIds" resultType="java.lang.Long">
        SELECT tag_id
        FROM `ms_article_tag`
        GROUP BY tag_id
        order by count(*) desc
        limit #{limit};
    </select>
    
    <select id="findTagsByTagId" resultType="com.mszl.blog.pojo.Tag">
         select id ,tag_name as tagName from ms_tag where id in
     <foreach collection="hotsTagsIds" separator="," open="(" close=")" item="id">
         #{id}
     </foreach>

    </select>

</mapper>